
/* -----------------------------------------Header------------------------------------ */

:root {
     --pink : #ff004f;
     --black : #080808;
     --white : #fff;
     --pinktext : rgba(255, 0, 79,0.6);
     --grey_bg : #262626;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins",sans-serif;
}

body {
    background-color: var(--black);
    font-family: sans-serif ;
    color : var(--white);
}

.restrict-view {
    display : none;
}
.container {
    width : 100%;
    
    /* height : 100vh; */
    /* background-image: url(IMAGES/final_bg.PNG);
    background-size: cover;
    background-position: center; */
}

.header {
    width : 100%;
    height : 100%;
}
nav {
    margin : 0px 140px 0px 140px;
    padding-top: 20px;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display : flex;
    list-style: none;
}

nav .menu-icon,.close-icon {
    display : none;
    font-size: 25px;
    cursor: pointer;
}

nav ul li {
    margin : 0px 25px;
}

nav ul li a{
    text-decoration: none;
    color : rgba(255,255,255,0.7);;
    font-size : 1rem;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content : '';
    width : 0;
    height : 3px;
    background : var(--pink);
    position : absolute ;
    left : 0;
    bottom: -6px;
    transition : 0.5s;
}

nav ul li a:hover::after {
    width : 100%;
}
.header h4{
   color : rgba(255,255,255,0.5);
}

.textColor {
    color:var(--pink);
}

.main {
    width : 100%;
    /* height : 70%; */
    display : flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-content {
    margin : 150px 0px 0px 140px ;
    line-height: 4rem;
}

.main-img {
    background-image: url(IMAGES/new_Image.png);
    background-size: 230px;
    background-position: top;
    /* background-color: rgb(44, 43, 43); */
    background-color: var(--grey_bg);
    background-repeat: space;
    width : 350px;
    min-width : 350px;
    height : 350px;
    border : 5px solid #fff;
    border-radius : 50%;
    /* margin-right: 190px;
    margin-top : 130px ; */
    margin : 100px 230px 0px 0px;
}  

/* -------------------------------------About------------------------------------------- */


#about {
    width : 100%;
    margin-top : 50px;
    height : 100vh;
    /* background: blueviolet; */
}

.about-container {
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.about-row {
    width : 80%;
    height : 70%;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-col-1 {
    flex : 2;
    background: url(IMAGES/new_Image.png);
    background-size: 300px;
    background-position: bottom;
    /* background-color: rgba(147, 144, 144, 0.2); */
    background-color: var(--grey_bg);
    background-repeat:no-repeat;
    width : 100px;
    height : 500px;
    border-radius: 20px;
}

.about-col-2 {
    flex : 3;
    margin-left: 40px;
    height : 500px;
    color : rgba(255,255,255,0.5);
}

.sub-heading {
      font-size: 3.5rem;
      color: var(--white);
      margin-bottom : 20px;
}

.about-me {
    line-height: 25px;
}

.about-me #heart{
    color: red;
    font-size: 20px;
    margin : 0 3px;
}
.about-me .yellowColor {
color : rgb(251, 186, 8);
font-size: 20px;
margin : 0 3px;
}
.about-col-2 .head-section li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
    margin-top : 30px;
    font-weight: bold;
    position : relative;
}

.inactive::after {
    content:'';
    width : 0;
    height : 3px;
    background: var(--pink);
    position : absolute;
    left : 0;
    bottom : -8px;
    transition: 0.5s;
}

/* #skills::after {
    width : 50%;
} */

.active::after {
    width : 50%;
}
.about-section ul{
    margin-top : 40px;
}

.about-section .head-li {
    margin-top : 20px;
    font-size: 13px;
    color: var(--pinktext);
}

.about-section li {
    margin-top :12px;
    list-style: none;
}

#certificate-section h4 {
    color : var(--pinktext);
}

#certificate-section li {
    font-size: 13px;
    margin-top : 5px;
}

#experience-section,#education-section,#certificate-section{
    display: none;
}

.head-section li {
    cursor: pointer;
}


/* ------------------------------------------SKILLSETS------------------------------------- */
#skillset {
    width : 100%;
    height : 100vh;
    display : flex;
    justify-content: center;
    align-items : center;
}

.skillset-container {
    width : 80%;
    height : 80%;
}

.skillset-list {
    margin-top: 75px;
    display : grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}

.skillset-list div {
    background-color: var(--grey_bg);
    padding : 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 0.5s background-color , 0.5s transform;
}

.skillset-list div i {
    font-size: 60px;
    margin-bottom : 40px;
}

.skillset-list div h2 {
    font-size: 30px;
    font-weight : 500;
    margin-bottom: 15px;
}
#mob {
    position : relative;
    left : -35px;
    top : 20px;
    /* float : none; */
    background-color: var(--grey_bg);
}

.skillset-list div p{
    color :rgba(255,255,255,0.5);
}

.skillset-list div a{
    text-decoration: none;
    color : var(--white);
    font-size: 12px;
    margin-top: 20px;
    display : inline-block;
}

.skillset-list div:hover {
    background-color: var(--pink);
    transform: translateY(-10px);
}


/* ------------------------------------------portfolio--------------------------------------- */

#portfolio {
    width : 100%;
    margin-top : 50px;
    /* height : 100vh; */
    display : flex;
    justify-content: center;
    align-items : center;
}

.portfolio-container {
    width : 80%;
    height : 100%;
}

.portfolio-section {
    margin-top: 40px;
    display : grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
}

.portfolio-container h2 {
    margin-top: 50px;
}
.portfolio-section .task {
    /* width : 330px;
    height : 450px; */
    overflow : hidden;
    position : relative;
    margin-right: 30px;
}

.portfolio-section .task img{
    width : 100%;
    height : 100%;
    border-radius: 20px;
    
}

.task-content {
   width : 100%;
   height : 0;
   background : linear-gradient(rgba(0,0,0,0.6),var(--pink)50%);
   border-radius : 20px;
   overflow: hidden;
   position : absolute;
   left : 0;
   bottom : 0;
   padding : 0px 10px;
   display : flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   line-height : 20px;
   transition : 0.5s;
}

.task-content h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.task-content a{
    text-decoration: none;
     margin-top: 30px;
     font-size: 20px;
     color : var(--pink);
     background-color: #fff;
     width : 50px;
     height : 50px;
     display : flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
}

.task:hover .task-content{
    height : 100%;
}


/* -----------------------------------------contact--------------------------------------- */

#contact
{
    width:100%;
    margin-top : 120px;
    /* height : 100vh; */
}

.contact-container {
    width : 100%;
    height : 100%;
    display : flex;
    justify-content: center;
    align-items : center;
}

.row-contact {
    width : 80%;
    height : 100%;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

.contact-left {
    flex : 2.5;
}

.contact-right {
    flex : 4;
}

.contact-left p {
    margin-top : 30px;
}

.contact-left p i{
    color : var(--pink);
    margin-right: 15px;
    font-size : 25px;
}

.contact-social-icons {
    margin-top : 30px;
}

.contact-social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right : 20px;
    display: inline-block;
    color : #ababab;
    transition : transform 0.5s;
}

.contact-social-icons a:hover {
    color : var(--pink);
    transform : translateY(-5px);
}

.btn {
    text-decoration: none;
    margin: 40px 0;
    border : 2px solid var(--pink);
    /* color : var(--pink);
    background-color: var(--black); */
    color : var(--black);
    background-color: var(--pink);
    width : fit-content;
    height : 50px;
    padding : 10px 30px;
    border-radius: 10px;
    font-size : 15px;
    font-weight: bold;
    cursor: pointer;
    transform: 0.5s;
}

.btn:hover {
    /* background-color: #ff004f;
    color : var(--black); */
    /* background-color: var(--white); */
    /* color : var(--black); */
    /* transform: translateY(-5px); */

}

.contact-right {
    width : 100%;
}

form input, form textarea {
    width : 100%;
    outline : none;
    border : 0;
    background-color: var(--grey_bg);
    margin : 15px 0;
    padding : 15px;
    color : var(--white);
    border-radius: 6px;
    font-size: 18px;
}

form .btn {
    margin-top : 10px;
}

.copyright {
    width : 100%;
    text-align: center;
    margin-top : 20px;
    padding : 25px 0;
    color : var(--white);
    background-color: var(--grey_bg);
    font-weight: 300;
    /* font-size: 20px; */
}

.copyright i {
    font-size: 30px;
}

.copyright #html-icon{
    color : orange;
}

.copyright #css-icon{
    color : blue;
}

.copyright #js-icon {
    color: yellow;
}

#msg {
    color : #61b752;
    margin-top: -30px;
    display: block;
    font-weight: bold;
}

/* ---------------------------- css for small screen -------------------------------- */


/* @media screen and (max-width:1000px){
    body .container,#about,#skillset,#portfolio,#contact{
        display : none;
    }

    .restrict-view{
        display : block;    
        width : 100%;
        padding : 100px;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: linear-gradient(rgba(0,0,0,0.2),var(--black)); 
        color : rgba(255,255,255,0.5);
        font-size: 1rem;
    }

    .restrict-view #heart{
        color : red;
    }

    .restrict-view #spanner {
        color : rgb(60, 79, 173);
        font-size: 150px;
    }

} */

@media screen and (max-width:600px) {

    body {
        width : 100vw;
    }

    .container,#about,#skillset,#portfolio,#contact,.copyright {
        width : 100%;
    }


    body *{
        margin : 0;
        padding : 0;
    }

    .container {
        /* width : 100%; */
        background: url(IMAGES/mobile\ BG\ main.PNG);
        background-size: 400px;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 20px;
        padding-top: 20px;
        /* height : 100vh; */
    }
    .main {
        width: 80%;
    }
    .main-img {
        display: none;
        width : 0;
        height : 0;
    }
    .main-content {
        margin : 330px 0 0 0;
        padding-left: 30px;
    }
    .main-content h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .main-content h4 {
        font-size: 10px;
        margin-bottom: 0;
        padding : 40px 0 0 0 ;
        position: relative;
        top : 20px;

    }
    .textColor {
        padding-left: 0;
    }
    
    nav .menu-icon{
        display : block;
    }

    nav ul {
        background: var(--pink);
        position: fixed;
        top : 0;
        right : 0;
        /* width : 200px; */
        width : 0;
        height: 100vh;
        padding-top: 50px;
        display: block;
        transition: 0.5s;
    }
    
    nav ul li {
        display: block;
        margin: 40px;
    }

    nav ul li a{
        font-size: 20px;
        color: var(--white);
    }

    .close-icon {
        position: absolute;
        top : 0;
        right : 0;
        padding : 25px;
    }

    .menu-icon {
        padding-right: 20px;
    }
    
   /* -----------------------about--------------- */

   #about {
    margin-top : 50px;
   }
   .sub-heading {
    font-size: 30px;
   }

   .about-container {
    align-items: start;
   }
   .about-row {
    display: grid;
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 1fr 1fr; */
   }

   .about-col-1 {
    width: 100%;
    background-size: 200px;
    background-position: bottom;
    height : 300px;
    align-self: flex-start;
   }

   .about-col-2 {
    width: 100%;
    margin: 20px 0;
   }

   .about-col-2 #skills,#experience,#education,#certificate {

    font-size: 13px;
    margin-right: 10px;
   }
   /* ---------------------skills------------------- */

   #skillset {
      margin-top: 130px;
   }

    .skillset-list{
    margin-top: 30px;
   }
   /* -------------------portfolio----------------- */

   #portfolio {
    margin-top: 500px;
   }

   .portfolio-container .sub-heading {
    margin : 0;
   }

   .portfolio-section .task {
    margin: 0;
   }

   /* ---------------------contact---------------------- */

   #contact {
    margin-top: 30px;
   }
}